<!DOCTYPE html>
<html>
<body>

<h1> Argument Mining Framework: Proposition Type Classifier module (AMF-PTC-VPF).</h1>

<h3> Functionality: Predict the type of the argumentative propositions. The module classifies propositions into the types of Value, Policy, and Fact. </h3>

<p> <b>Expected Input:</b> xAIF file containing propositional argumentative nodes (I). </p>

<p> <b>Expected Output:</b> xAIF file with the "propositionClassifier" key containing the list of proposition (I) nodes with one of the three types (i.e., Value, Policy, and Fact) assigned to them.</p>

</body>
</html>